.cart-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.cart-page h2 {
    font-size: 2.2em;
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #333;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.cart-items {
    margin-bottom: 20px;
}

.product-card {
    margin-bottom: 10px;
    padding: 15px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.product-details {
    margin-bottom: 15px;
}

.product-details p {
    margin: 5px 0;
    font-size: 1em;
}

.remove-button-container {
    text-align: right;
}

.remove-button {
    font-size: 12px;
    align-self: flex-start;
}

.remove-icon {
    font-size: 18px;
    margin-right: 5px;
}

.divider {
    margin: 20px 0;
}

.checkout-container {
    margin-top: 30px;
    padding: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.checkout-header {
    background-color: transparent;
    padding: 0;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.checkout-section p {
    margin: 5px 0;
    font-size: 1em;
}

.checkout-actions {
    display: flex;
    justify-content: space-between;
}

.checkout-actions button {
    margin-right: 10px;
    font-size: 1em;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.action-buttons button {
    font-size: 1em;
    padding: 10px 20px;
}
