<div class="cart-page">

    <h2>Your Cart</h2>
  
    <div class="cart-items">
        <mat-card *ngFor="let vape of cart" class="product-card">
            <mat-card-content>
              <div class="product-details">
                <p><strong>Flavor:</strong> {{vape.flavor}}</p>
                <p><strong>Type:</strong> {{vape.type}}</p>
                <p><strong>Quantity:</strong> {{vape.selectedQuantity}}</p>
                <p><strong>Price:</strong> ${{vape.price}}</p>
              </div>
              <div class="remove-button-container">
                <button mat-button color="warn" (click)="removeFromCart(vape)" class="remove-button">
                  <mat-icon class="remove-icon">remove_shopping_cart</mat-icon> Remove
                </button>
              </div>
            </mat-card-content>
          </mat-card>
          
    </div>
  
    <!-- Divider -->
    <mat-divider class="divider"></mat-divider>
  
    <!-- Checkout section -->
    <mat-card class="checkout-container">
      <mat-card-header class="checkout-header">
        <mat-card-title>Checkout</mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="user" class="checkout-section">
        <p><strong>Total cost:</strong> ${{ totalCost }}</p>
        <p><strong>Phone number:</strong> {{ user.phoneNumber }}</p>
        <p><strong>Address:</strong> {{ user.address }}</p>
        <p><strong>Postal Code:</strong> {{ user.postalCode }}</p>
        <p><strong>Unit Number:</strong> {{ user.unitNumber }}</p>
        <p><strong>Comments:</strong> {{ user.comments }}</p>
      </mat-card-content>
      <mat-card-actions class="checkout-actions">
        <button mat-raised-button color="primary" (click)="confirmOrder()">Confirm Order</button>
        <button mat-raised-button color="accent" (click)="editDeliveryDetails()">Edit Delivery Details</button>
      </mat-card-actions>
    </mat-card>
  
    <div class="action-buttons">
      <button mat-raised-button color="warn" (click)="clearCart()">Clear Cart</button>
      <button mat-raised-button (click)="goBack()">Back</button>
    </div>
  
  </div>
  