.payment-success-wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.payment-success-card {
    padding: 20px;
    text-align: center;
}

.check-icon {
    font-size: 48px;
    color: green;
    margin-bottom: 20px;
}

.payment-details,
.items-purchased {
    margin: 20px 0;
    text-align: left;
}

.payment-details mat-list-item,
.items-purchased mat-list-item {
    padding-left: 30px;
}

.action-buttons {
    margin-top: 20px;
    justify-content: center;
}
