<div *ngIf="sessionDetails">
    <h2>Payment Successful</h2>
    <p>Thank you for your purchase!</p>

    <h3>Payment Details:</h3>
    <ul>
        <li>Name: {{ userName }}</li>
        <li>Phone Number: {{ phoneNumber }}</li>
        <li>Email: {{ email}} </li>
        <li>Address: {{ address }}</li>
        <li>Delivery Number: {{ deliveryNumber }}</li>
    </ul>

    <h3>Items Purchased:</h3>
    <ul>
        <li *ngFor="let item of itemsPurchased">{{item.type}} {{ item.flavor }} - Quantity: {{ item.selectedQuantity }}</li>
    </ul>

</div>

<button (click)="goBack()">Back</button>