<div class="payment-success-wrapper" *ngIf="sessionDetails">
    <mat-card class="payment-success-card">
        <mat-card-header>
            <mat-card-title>
                <mat-icon class="check-icon">check_circle</mat-icon>
                Payment Successful
            </mat-card-title>
            <mat-card-subtitle>Thank you for your purchase! A confirmation Email has been sent to you.</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <div class="payment-details">
                <h3>Payment Details:</h3>
                <mat-list>
                    <mat-list-item><mat-icon>person</mat-icon> Name: {{ userName }}</mat-list-item>
                    <mat-list-item><mat-icon>phone</mat-icon> Phone Number: {{ phoneNumber }}</mat-list-item>
                    <mat-list-item><mat-icon>email</mat-icon> Email: {{ email }}</mat-list-item>
                    <mat-list-item><mat-icon>home</mat-icon> Address: {{ address }}</mat-list-item>
                    <mat-list-item><mat-icon>map</mat-icon> Postal Code: {{ postalCode }}</mat-list-item>
                    <mat-list-item><mat-icon>comment</mat-icon> Comments: {{ comments }}</mat-list-item>
                    <mat-list-item><mat-icon>local_shipping</mat-icon> Delivery Number: {{ deliveryNumber }}</mat-list-item>
                </mat-list>
            </div>

            <div class="items-purchased">
                <h3>Items Purchased:</h3>
                <mat-list>
                    <mat-list-item *ngFor="let item of itemsPurchased"><mat-icon>local_mall</mat-icon> {{ item.type }} {{ item.flavor }} - Quantity: {{ item.selectedQuantity }}</mat-list-item>
                </mat-list>
            </div>
        </mat-card-content>
        
        <mat-card-actions class="action-buttons">
            <button mat-raised-button color="primary" (click)="goBack()">Back to Store</button>
        </mat-card-actions>
    </mat-card>
</div>
