.profile-container {
    max-width: 600px;
    margin: 40px auto 40px auto;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #f9f9f9; /* Use a consistent background color */
    border-radius: 8px; /* Optional, rounded corners */
}

.input-field {
    width: 100%;
    margin-bottom: 16px;
}

.comments-field {
    margin-top: 20px;
}

.save-button {
    text-align: center;
    margin-top: 20px;
}

/* This is for the card title */
mat-card-title {
    font-size: 24px; /* Use a larger font-size for the title */
    color: #333; /* Dark color for the title */
}

/* This is for the icons */
mat-icon {
    color: #4CAF50; /* Use a consistent color for icons */
}

/* This is for the buttons */
button {
    background-color: #4CAF50; /* Consistent background color */
    color: white; /* White text color */
}
