<mat-toolbar color="primary" class="nav-bar">
  <span class="app-title">
    <mat-icon>cloud</mat-icon>
    NotAVapeShop
  </span>
  <span class="spacer"></span>
  <ng-container *ngIf="!user; else loggedIn">
    <button mat-button color="accent" (click)="loginWithGoogle()">
      <mat-icon>login</mat-icon>
      Login with Google
    </button>
  </ng-container>
  <ng-template #loggedIn>
    <div class="user-section">
      <span class="user-name">
        <mat-icon>person</mat-icon>
        Welcome, {{user?.displayName}}!
      </span>
      <button mat-button (click)="editProfile()">
        <mat-icon>edit</mat-icon>
      </button>
      <a mat-button routerLink="/cart">
        <mat-icon>shopping_cart</mat-icon>
      </a>
      <button mat-button color="warn" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>
  </ng-template>
</mat-toolbar>

<div class="content-container">
  <h1 class="site-title">Not A Vape Shop</h1>
  <h2 class="welcome-message">If You're Going To Get Cancer, At least Choose Your Flavour</h2>
  <div class="flavor-images">
    <div class="flavor-image-container" *ngFor="let flavor of flavors">
      <img [src]="flavor.image" (click)="searchFlavor(flavor.name)" alt="{{flavor.name}} flavor" class="flavor-image" />
      <div class="flavor-caption">{{flavor.name}}</div>
    </div>
  </div>
  
  <div class="search-section">
    <form [formGroup]="searchForm" (ngSubmit)="search()" class="search-form">
      <mat-form-field class="search-input transparent-input" appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput formControlName="searchString" placeholder="Search flavors">
      </mat-form-field>
      <button mat-raised-button type="submit" class="search-button">Search</button>
    </form>
  </div>
</div>


