.nav-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .app-title {
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .app-title mat-icon {
    margin-right: 8px;
  }
  
  .user-section {
    display: flex;
    align-items: center;
  }
  
  .user-name {
    margin-right: 20px;
    display: flex;
    align-items: center;
  }
  
  .user-name mat-icon {
    margin-right: 5px;
  }
  
  .content-container {
    padding: 20px 40px;
    text-align: center;
  }
  
  .site-title {
    text-align: center;
    color: #333333;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .welcome-message {
    margin-bottom: 30px;
    color: #555555; /* Darker color */
  }
  
  .search-section {
    margin-top: 30px;
  }
  
  .search-form {
    display: flex;
    justify-content: center;
  }
  
  .search-input {
    max-width: 300px;
  }
  
  .transparent-input .mat-form-field-outline {
    opacity: 1.0;
  }
  
  .transparent-input .mat-form-field-wrapper {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .transparent-input .mat-form-field-flex {
    padding: 0.5em 0.75em;
  }
  
  .search-button {
    color: white;
    background-color: #673ab7;
    border-radius: 4px;
    margin-left: 10px;
  }
  
  .flavor-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .flavor-image-container {
    margin: 10px;
    cursor: pointer;
  }
  
  .flavor-image {
    width: 150px;
    height: 150px;
  }
  
  .flavor-image-container:hover .flavor-image {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .flavor-caption {
    text-align: center;
    margin-top: 8px;
    font-weight: bold;
  }
  
  .random-flavor-section {
    text-align: center;
    margin-top: 40px;
  }
  
  .random-flavor-image {
    max-width: 200px;
    margin: 20px auto;
  }
  
  .surprise-button {
    background-color: #4CAF50; /* Same background color as the other buttons */
    color: white; /* White text color */
    padding: 10px 20px;
    font-size: 16px;
  }
  
  